body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(48, 48, 48);
    padding: 10px;
}
header a{
    color:black;
    text-decoration: none;
    font-size: 16px;
}
header button{
    width: 60px;
    height: 30px;
    border-radius: 7px;
    border-color: black;
    border: solid;
}
header button:hover{
    cursor: pointer;
    border-color: blue;
}
header #headerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    color: white;
    font-size:34px;
    padding-left: 10%;
}
header p {
    color: white;
    padding-left: 10%;
}
header img{
    border-radius: 25px;
    width: 80%;
    height: 80%;
}
#content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    border-color: black;
    border: 3px;
    border-style:solid;
}
#content p{
    text-align: center;
    font-size: 16px;
    padding-left: 20%;
    padding-right: 20%;
}
#content #Software{
    display: flex;
    justify-content: center;
}
#content #Software li{
    padding-left: 20px;
}
#content h2{
    text-align: center;
}
#DownloadButton{
    display: flex;
    justify-content: center;
}
#DownloadButton button{
    background-color: rgb(88, 88, 88);
    border-color: rgb(134, 134, 134);
    width: 220px;
    height: 60px;
    border-radius: 10px 15px;
    border-width: 5px;
    color: white;
    text-decoration:solid;
}
#DownloadButton button:hover{
    border-color: blue;
    cursor: pointer;
}

#DownloadButton img{
    width: 30px;
    height: 30px;
    border: none;
}

@media (max-width: 600px) {
  header H1{
    font-size: 22px;
  } 
  header img{
    width: 70%;
    height: 70%;
    border-radius: 5px;
  }
  #content img{
    width: 80%;
    height: 80%;
  }
  #content p{
    text-align: center;
    font-size: 13px;
}
#DownloadButton img{
    width: 30px;
    height: 30px;
    border: none;
}
}