:root{
    /*colors*/
    --MES_Blue_Color:rgb(0,139,197);
    --side_menue_target_size: 500px;
    --main_logo_target_size_big: 164px;
    --main_logo_target_size_small: 100px;
    --menue_logo_target_size_width:50px;
}





body{
    margin: 0;
    color: black;
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*header #############################################################################*/

header{
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    background-color: rgba(255, 255, 255, 1);
}

header #header_main_logo{
    width: var(--main_logo_target_size_big);
    margin-left:30px;
    margin-top: 10px;
}

header #header_main_logo:hover{
    cursor: pointer;
}

header #menue_btn{
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

header #menue_btn:hover{
    cursor: pointer;
}

header #menue_icon{
    width: var(--menue_logo_target_size_width);
}

header #nav-link-triggers{
    margin-left: 200px;
    margin-right: 0;
    margin-top: -25px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--MES_Blue_Color);
    display: flex;
    align-items: center;
}

header #nav-link-triggers a{
    font-size: 18px;
    padding: 8px;
    color:var(--MES_Blue_Color);
    text-decoration: none;
}

header #nav-link-triggers .nav-popup-link{
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    border: 3px solid var(--MES_Blue_Color);
    border-width: 5px 0 0 0;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.8);
    width: 200px;
}

header #nav-link-1:hover #popup-linklist-1{display: flex;}
header #nav-link-2:hover #popup-linklist-2{display: flex;}
header #nav-link-3:hover #popup-linklist-3{display: flex;}
header #nav-link-4:hover #popup-linklist-4{display: flex;}
header #nav-link-5:hover #popup-linklist-5{display: flex;}
header #nav-link-6:hover #popup-linklist-6{display: flex;}



header #nav-link-triggers .nav-popup-link a{
    padding: auto 10px auto 10px;
    color: black;
}

header #nav-link-triggers .nav-popup-link a:hover{
    background-color: rgb(210, 210, 210);
}

/*content #############################################################################*/


#content{
    margin-top: 150px;
}



/*side menue #############################################################################*/

#side-menue{
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    bottom:0;
    right: 0;
    animation: sideMenueEntry 0.5s forwards;
    background-color: rgb(235, 235, 235);
    border-width: 0 0 0 2px;
    border-color: var(--MES_Blue_Color);
    border-style: solid;
}

#side-menue.visible{
    animation: sideMenueEntry 0.5s forwards;
}

#side-menue.hidden{
    animation: sideMenueExit 0.5s forwards;
}

#side-menue #side-menue-hide-btn{
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 20px;
}

#side-menue #side-menue-hide-btn img{
    width: var(--menue_logo_target_size_width);
}

#side-menue #side-manue-links{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 10px;
    right: 20px;
}

#side-menue #side-manue-links a{
    color:black;
    text-decoration: none;
    padding: 20px;
    margin: 2px;
    border: 2px solid rgb(210, 210, 210); 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#side-menue #side-manue-links a img{
    width: 30px;
    display: none;
}

#side-menue #side-manue-links a:hover img{
    display: block;
}


#side-menue #side-manue-links a:hover{
    background-color: rgb(215, 215, 215);

}


#side-menue #side-menue-footer{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
}

#side-menue #side-menue-footer #side-menue-footer-links a{
   text-decoration: none;
   color: var(--MES_Blue_Color);
}



@keyframes sideMenueEntry {
    0%{width:0;}
    100%{width: var(--side_menue_target_size);}
}

@keyframes sideMenueExit {
    0%{width: var(--side_menue_target_size);}
    100%{width:0;}
}
/* #####################################*/


#CookieConsentWindow{
    z-index: 25;
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
    background-color: white;
    border-width:10px 1px 1px 5px ;
    border-color: var(--MES_Blue_Color);
    border-style: solid;
    width: 85%;
    height: 15%;
    padding: 20px;
    box-shadow:0 4px 8px rgba(0,0,0, 1);
}

#CookieConsentWindow #consent_btn{
    background-color: var(--MES_Blue_Color);
    font-size: 22px;
    padding: 10px;
    position: absolute;
    color: white;
    display: flex;
    bottom: 10px;
    right: 10px;
    border-radius:15px;
}

#CookieConsentWindow #consent_btn:hover{
    cursor: pointer;
    text-decoration: underline;
}


#CookieConsentWindow p{
    display: flex;
    margin-right: 100px;
}


/*footer #############################################################################*/

footer{
    z-index: 5;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(225, 225, 225);
    border-width: 3px 0 0 0 ;
    margin-top: 100px;
}

footer #footer_Items{
    display: flex;
    align-items: center;
}

footer #footer_Items #footer_MES_logo{
    margin-left: 30px;
    margin-top: 10px;
    width: 120px;
}

footer #footer_Items #footer_Content{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 0;
}

footer #footer_Items #footer_Content .footer_Item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left:100px;
    padding-right:100px;
}

footer #footer_Items #footer_Content .footer_Item h3{
    color: var(--MES_Blue_Color);
    text-align: center;
}


footer #footer_Items #footer_Content .footer_Item a{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

footer #footer_Items #footer_Content .footer_Item a:hover{
    color:var(--MES_Blue_Color) ;
}

footer #footer_Items #footer_Content .footer_Item a img{
   width: 25px; 
   padding-right: 10px;
}




footer #footer_legal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}
footer #footer_legal p{
    padding-right: 50px;
}

footer #footer_legal a{
    color: black;
    text-decoration: none;
    padding: 0 10px;
}


/* Other: ##########################################*/
.Interactive-content-folder{
    margin-top: 10px;
    background-color: white;
    border-radius:15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}

.Interactive-content-folder #Headline{

}

.Interactive-content-folder #Headline #interact-btn{
    background: none;
    border: none;
}

.Interactive-content-folder #Headline #interact-btn img{
    width: 20px;
    transform: rotate(-90deg);
}

.Interactive-content-folder #Headline #interact-btn img{
    width: 20px;
    transform: rotate(-90deg);
}

.Interactive-content-folder .folder-Content{
    animation: folder-Content-Entry 1s forwards;
}

.image-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-gallery .image-conteiner{
    position: relative;
}

.image-gallery .image-conteiner img{
    max-height: 450px;
    border-radius: 15px;
}

.image-gallery .image-conteiner button{
    width: 100px;
}

.image-gallery .image-conteiner button:hover{
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.image-gallery .image-conteiner .image-gallery-btn-left{
    position: absolute;
    height: 100%;
    left: 0;
    background: none;
    border: none;
    border-radius: 15px 0 0 15px;
}

.image-gallery .image-conteiner .image-gallery-btn-right{
    position: absolute;
    height: 100%;
    right: 0;
    background: none;
    border: none;
    border-radius:0 15px 15px 0;
}

.image-gallery .image-conteiner button img{
    width: 30px;
}

.image-gallery .current-image-circle-index {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-gallery .current-image-circle-index img{
    width: 10px;
    padding: 5px;
}


ul.custom-list {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
}

ul.custom-list li {
    padding-left: 20px;
    background: url('../images/icons/Arrow_right_4_Black.png') no-repeat left top;
    background-size: 16px 16px; 
}



.download-link{
    padding: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:var(--MES_Blue_Color);
    font-size: 18px;
}

.download-link:hover{
    color: rgb(0, 86, 122);
}


.download-link img{
    width: 20px;
    padding-right: 10px;
}



.Text-link{
    font-size: 18px;
    text-decoration: none;
    color: var(--MES_Blue_Color);
    display: flex;
    align-items: center;
}
.Text-link:hover{
    color: rgb(0, 86, 122);
}

.Text-link-text{
    font-size: 18px;
    text-decoration: none;
    color: var(--MES_Blue_Color);
}
.Text-link-text:hover{
    color: rgb(0, 86, 122);
}



.Text-link img{
    width: 25px;
    padding-right: 10px;
}

.SideTitle{
    color: var(--MES_Blue_Color);
    margin-left: 20px;
    padding-top: 15px;
}
.MiddleTitle{

}

#toTopButton{
    z-index: 30;
    display: none;
    position: fixed;
    right: 1%;
    bottom: 3%;
    border-radius: 50%;
    border: 1px solid rgb(88,88,88);
    background-color: rgb(235, 235, 235);
    padding: 15px;
}

#toTopButton:hover{
    cursor: pointer;
}

#toTopButton img{
    width: 25px;
    transform: rotate(-90deg);
}

table{
    border: 2px solid black;
    margin-left:50%;
    margin-right:auto;
    transform: translate(-50%);
}
table tr{

}
table td{
    margin: 0;
    border: 1px solid black;
    padding: 20px;
}

@keyframes folder-Content-Entry {
    0%{size: 0;}
    100%{size: auto;}
}



@media (max-width:1300px) {
    footer #footer_Items #footer_Content #footer_info{
        display: none;
    }

    .image-gallery .image-conteiner img{
        max-height: 600px;
        border-radius: 15px;
    }
}


@media (max-width:1050px) {
    footer #footer_Items #footer_Content #footer_direct-link{
        display: none;
    }
    footer #footer_Items #footer_MES_logo{
        display: none;
    }
    footer #footer_Items #footer_Content{
        margin-left: 0;
        margin-right: 0;
    }
    footer #footer_Items #footer_Content .footer_Item{
        padding: 10px;
    }
}




@media (max-width:1000px) {
    :root{
        --main_logo_target_size_big: 110px;
        --main_logo_target_size_small: 60px;
        --menue_logo_target_size_width:35px;
    }
    header{
        border-style: solid;
        border-color: var(--MES_Blue_Color);
        border-width: 0 0 1px 0;
    }
    header #nav-link-triggers{
        display: none;
    }
    #content{
        margin-top: 110px;
    }

    .image-gallery .image-conteiner img{
        max-height: 300px;
    }

    footer #footer_legal{
        flex-direction: column;
    }
    footer #footer_legal p{
        padding-right: 0px;
    }

    .image-gallery .image-conteiner button:hover{
        background-color: rgba(0, 0, 0, 0);
    }
}

@media (max-width:600px) {
    :root{
        --side_menue_target_size: 90%;
    }

    body{
        font-size: 14px;
    }

    .image-gallery .image-conteiner img{
        max-height: 200px;
    }

    #side-menue #side-menue-footer p, a{
        font-size: 11px;
    }
    
    .image-gallery .image-conteiner button img{
        width: 20px;
    }

    .image-gallery .image-conteiner button{
        width: 50px;
    }

    .image-gallery .image-conteiner button:hover{
        background-color: rgba(0, 0, 0, 0);
    }

    #CookieConsentWindow{
        z-index: 25;
        position: fixed;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        background-color: white;
        width: 85%;
        height: 25%;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    #CookieConsentWindow #consent_btn{
        display: flex;
        border-radius:15px;
    }

    #CookieConsentWindow h2{
        display: block;
    }
    
    
    #CookieConsentWindow p{
       margin-right: 10px;
    }

    .download-link{
        font-size: 14px;
    }

    .download-link img{
        width: 15px;
    }
    #toTopButton{
        position: fixed;
        right: 2%;
        bottom: 2%;
        border-radius: 50%;
        border: 1px solid rgb(88,88,88);
        background-color: white;
        padding: 15px;
    }

    #toTopButton img{
        width: 23px;
    }
    
}