#content #StartContainer {
    display: flex;
    align-items: center;
    background-color: var(--MES_Blue_Color);
}

#content #StartContainer #StartContainer-Title,
#StartContainer-Text {
    color: white;
    margin: 0 20px;
    text-align: start;
    padding: 10px;
}


#content #StartContainer img {
    margin-top: 0;
    width: 67%;
}

#content h1,h2{
    color: var(--MES_Blue_Color);
}



#SchoolHistoryContainer #SchoolHistoryContainer-content {
    margin-top: 15px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgb(193, 193, 193);
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-right: 1%;
    margin-left: 1%;
}

#SchoolHistoryContainer #SchoolHistoryContainer-content #SchoolHistoryContainer-images-static {
    display: flex;
    align-items: center;
    justify-content: center;
}

#SchoolHistoryContainer #SchoolHistoryContainer-text h2 {
    color: var(--MES_Blue_Color);
}


#SchoolHistoryContainer #SchoolHistoryContainer-content #SchoolHistoryContainer-images-static img {
    max-height: 300px;
    max-width: 30%;
    margin-left: 20px;
    border-radius: 15px;
}

#SchoolHistoryContainer #SchoolHistoryContainer-content #SchoolHistory-SWR_Retro-link {
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: var(--MES_Blue_Color);
    display: flex;
    align-items: center;
}

#SchoolHistoryContainer #SchoolHistoryContainer-content #SchoolHistory-SWR_Retro-link img {
    height: 15px;
    padding-right: 10px;
}


#image-gallery-Workshop {
    display: none;
}




#Teaching_series_EducationGenerale,
#Schoolprofiles,
#donwload-section,
#AZF {
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-top: 15px;
      border: 1px solid rgb(193, 193, 193);
}


#donwload-section #toDownloadslink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--MES_Blue_Color);
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    width: 300px;
    text-decoration: none;
    color: var(--MES_Blue_Color);
}

#donwload-section a:hover {
    background-color: rgb(240, 240, 240);
}

#donwload-section #toDownloadslink img {
    width: 40px;
}

#donwload-section #best-downloads {
    padding-top: 10px;
    border: 0px;
}

#Other_Informations #donwload-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}


#Schoolprofiles h2 {
    color: var(--MES_Blue_Color);
}

#Schoolprofiles_content {
    display: flex;
    flex-direction: column;
}

#schoolprofile-item-content .custom-list{
    color: white;
}

#schoolprofile-item-content ul.custom-list li, #Schoolprofiles_content #dropdown-content .dropdown-item .dopdown-item-content ul.custom-list li {
  padding-left: 20px;
  background: url('../images/icons/Arrow_right_4_White.png') no-repeat left center;
  background-size: 16px 16px; 
}

#Schoolprofiles_content .separation_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Schoolprofiles_content .separation_1_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Schoolprofiles_content .separation_1_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}


#Schoolprofiles_content #dropdown-content {
    display: none;
}

#Schoolprofiles_content #dropdown-content .dropdown-item {
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

#Schoolprofiles_content #dropdown-content .dropdown-item .dopdown-item-headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#Schoolprofiles_content #dropdown-content .dropdown-item .dopdown-item-headline img {
    width: 25px;
}

#Schoolprofiles_content #dropdown-content .dropdown-item .dopdown-item-content {
    margin-left: 1%;
    margin-right: 1%;

}

#Schoolprofiles_content #dropdown-content .dropdown-item .dopdown-item-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#Schoolprofiles_content #dropdown-content .dropdown-item .dopdown-item-content a img {
    width: 30px;
    padding-right: 15px;
}

.schoolprofile-item-conteiner {
    margin: 10px;
    width: 200px;
    min-height: 100px;
    height: 250px;
    max-height: 300px;
    bottom: 0;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


.schoolprofile-item-conteiner:hover #schoolprofile-item-content {
    display: flex;
    animation: schoolprofileOverviewEntry 1s forwards;
    animation-timing-function: linear;
}

.schoolprofile-item-conteiner h3 {
    color: white;
    margin-left: 1%;
    margin-right: 1%;
}

.schoolprofile-item-conteiner #schoolprofile-item-content {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 0;
    display: none;
    opacity: 0;
}

@keyframes schoolprofileOverviewEntry {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.schoolprofile-item-conteiner #schoolprofile-item-content p {
    color: white;
    font-size: 14px;
}

.schoolprofile-item-conteiner #schoolprofile-item-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.schoolprofile-item-conteiner #schoolprofile-item-content a img {
    width: 25px;
    padding-right: 10px;
}

#professional-school {
    background-color: rgb(115, 195, 221);
}

#Berufsfachschule-item {
    background-color: rgb(18, 138, 137);
}

#Berufsskolleg-item {
    background-color: rgb(201, 0, 106);
}

#JTG-item {
    background-color: rgb(238, 126, 8);
}

#TG-item {
    background-color: rgb(218, 0, 34);
}

#MS-item {
    background-color: rgb(251, 184, 9);
}

#Technikerschule-item {
    background-color: rgb(163, 124, 42);
}

#VAB-item {
    background-color: rgb(81, 170, 72);
}




#SchoolHistoryStory_conteiner{
    margin-top: 15px;
    background-color: white;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 15px;
    margin-left: 1%;
    margin-right: 1%;
}

#SchoolHistoryStory_conteiner h2{
    margin-left: 30px;
    margin-top: 15px;
}

#SchoolHistoryStory_conteiner #SchoolHistoryStory_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#SchoolHistoryStory_conteiner #SchoolHistoryStory_content p{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

#SchoolHistoryStory_conteiner #SchoolHistoryStory_content img{
    border-radius: 15px;
    margin: 1%;
    width: auto;
    height: 400px;
}

@media (min-width:1000px) {
    #Instruction-Conteiner {
        display: flex;
        flex-direction: column;
    }

    #Other_Informations {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

}


@media (max-width:1000px) {
    #content #StartContainer {
        flex-direction: column;
        padding-bottom: 10px;
    }

    #content #StartContainer img {
        width: 100%;
    }

    #content #StartContainer p,
    h2 {
        text-align: start;
    }

    #SchoolHistoryContainer #SchoolHistoryContainer-content #SchoolHistoryContainer-images {
        flex-direction: column;
    }

    #SchoolHistoryContainer #SchoolHistoryContainer-content #SchoolHistory-SWR_Retro-link {
        font-size: 15px;
    }

    #SchoolHistoryContainer-images {
        display: none;
    }

    #image-gallery-Workshop {
        display: flex;
    }

    #Schoolprofiles_content .separation_1_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #Schoolprofiles_content .separation_1_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #SchoolHistoryStory_conteiner #SchoolHistoryStory_content{
        flex-direction: column;
    }
    #SchoolHistoryStory_conteiner #SchoolHistoryStory_content img{
        height: 250px;
    }
    #SchoolHistoryStory_conteiner h2{
        margin-left: 5%;
    }

    #donwload-section #best-downloads {
        display: none;
    }
    
}

@media (max-width:600px) {
    #content #StartContainer {
        margin: 1%;
        margin-top: 115px;
        border-radius: 15px;
    }

    #content #StartContainer img {
        border-radius: 15px 15px 0 0;
    }

    #Schoolprofiles_content .separation_1 {
        display: none;
    }


    #Schoolprofiles_content #dropdown-content {
        display: block;
    }
}