#content {
    display: flex;
    width: 100%;

}

#side-panel {
    max-width: 384px;
    min-width: 384px;
    padding: 10px;
    box-sizing: border-box;
    border: solid var(--MES_Blue_Color);
    border-width: 0 2px 0 0;
}

#schoolprofiles {
    margin-top: 20px;
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}



#content #schoolprofiles #schoolprofiles-content-header {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content #schoolprofiles #schoolprofiles-content-header #header-img{
    width: 97%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    border-color: var(--MES_Blue_Color);
    border-width: 3px;
    border-style: solid;
    background-color: white;
}

#content #schoolprofiles #schoolprofiles-content-header a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: var(--MES_Blue_Color);
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 10px 10px 0 0;
}
#content #schoolprofiles #schoolprofiles-content-header a:hover{
   /* animation:folder-link-style-hover 0.35s forwards ;*/
   padding-top: 20px;
   transition: 0.2s;
}

@keyframes folder-link-style-hover {
    0%{}
    100%{  margin-left: auto; margin-right: 10;}
}

#content #schoolprofiles #schoolprofiles-content{
    margin-left: 1.5%;
    margin-right: 1.5%;
}



#content #schoolprofiles #schoolprofiles-content .content-image{
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    max-width: 100%; /* Optional: ensure the image does not overflow */
    height: auto; /* Optional: maintain aspect ratio */
}




#nav {
   background-color: rgb(245, 245, 245);
   border-radius: 15px;
   padding: 15px;
   border: 1px solid rgb(193, 193, 193);
}

#nav,#events h2,p,h4{
    color:  rgb(88,88,88);
}

#nav a {
    font-size: 18px;
    margin: 5px;
    padding: 5px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--MES_Blue_Color);
}

#nav a:hover{
    background-color: rgb(227, 227, 227);
}

#nav img {
   width: 25px;
   padding-left: 10px;
}

#events{
    margin-top: 10px;
    background-color: rgba(0, 162, 237, 0.08);
   
   padding: 15px;
}

#events h3{
   color: var(--MES_Blue_Color);
}

.event-card{
    border-color: rgb(169, 169, 169);
    border-width: 1px 0 0 0;
    border-style: solid;
    padding: 2px;
}


#header-img {
    width: 100%;
    height: auto;
}

.download-folder-category{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid rgb(193, 193, 193);
    margin-top: 10px;
}

.download-folder-headline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--MES_Blue_Color);
}

.download-folder-headline img{
   width: 35px;
}

@media (max-width:1000px) {
    #content{
        flex-direction: column;
    }
    #events{
        display: none;
    }

    #side-panel {
       min-width: 100%;
       border: none;
    }

    #nav {
        background-color: rgb(245, 245, 245);
        border-radius: 15px;
        padding: 15px;
        border: 1px solid rgb(88,88,88);
     }
     
     
     #nav a {
         font-size: 14px;
         margin: 5px;
         padding: 5px 30px;
         border-radius: 5px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         text-decoration: none;
         color: var(--MES_Blue_Color);
     }

     #schoolprofiles {
        width: 100%
    }
    #schoolprofiles h1{
        font-size: 20px;
    }
     
}