
#handoutDownloadBox{
    padding: 10px;
    background-color:white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#handoutDownloadBox iframe{
    margin: 15px;
    border: black solid 2px;
    border-radius: 15px;
}

#handoutDownloadBox a{
    background-color: var(--greenColor);
    border-radius: 15px 10px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    
}

#handoutDownloadBox a:hover{
    border: 2px black solid;
    
}

#handoutDownloadBox a img{
    width: 30px;
}

.geoGebraBox{
    color: black;
    padding: 10px;
    background-color: white;
    border: var(--greenColor) 2px solid;
    border-radius: 15px;
     display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

.geoGebraBox iframe{
    margin: 15px;
    width: 80%;
    height: 500px;
}

.geoGebraBox a{
    background-color: var(--greenColor);
    border-radius: 15px 10px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}
.geoGebraBox a:hover{
     border: 2px black solid;
}

.aufg{
    padding-left: 15px;
    padding-right: 15px;
}